html {
    height: 100%;
}

body {
    height: 100%;
    
}

.header{
    display: flex;
    justify-content:space-between;
}
.navbar{
    display:flex;
    justify-content: space-between;
}
.footer{
    display:flex;
    justify-content: space-between;
}
.gallery{
    display: flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
.aboutMain{
    display: flex;
    background: url("http://pre05.deviantart.net/ed6d/th/pre/i/2016/190/7/a/steven_universe_twilight_background_by_sakicakes-da9bl3x.png");
    width: 1000px;
    height: 1000px;
}
.steven{
    text-align:white;
}
.thumbnail-image{
    width:350px;
}
