html {
    height: 100%;
}

body {
    height: 100%;
    background: url(https://wallpapertag.com/wallpaper/full/c/0/1/296007-large-steven-universe-background-1920x1080.jpg);
}

.header{
    display: flex;
    justify-content:space-between;
}
.navbar{
    display:flex;
    justify-content: space-between;
}
.social-image{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    width: 550px;
}
.footer{
    display:flex;
    justify-content: space-between;
}
.gallery{
    display: flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
.aboutMain{
    display: flex;
    width: 1000px;
    height: 1000px;
}
.thumbnail-image{
    width:350px;
}
.picture{
    width:430px;
    height: 500px;
}